<!DOCTYPE html>
<html>

<head>
    <title>About</title>
        <link rel="icon" href="/img/weather.png">
   <link rel="stylesheet" href="./CSS/style.css">
   <script src="./js/app.js"></script>
   
</head>

<body>
    
    <div class = 'main-content'> 
    {{>header}}
    <p>This Page is for getting the Real Time Weather information of any specific place. </p>
    </div>
<img class="portrait" src="./img/Desert.png.jpg" >
    {{>footer}}
</body>

</html>